.partners {
    padding: $section-padding;
}
.partner {
    &__image {
        height: 100px;
        border: none;
        padding: 0;
        img {
            object-fit: contain;
        }
    }
    &__title {
        font-size: $font-xl;
    }
}