.wc-cart {
    padding: $section-padding;
    &__header {
        padding: 1rem;
        background: $gray-100;
        border-bottom: 1px solid $gray-300;
    }
    &__title {
        @extend %merit;
        font-size: $font-xxl;
        margin-bottom: 0;
    }
    &__cart-info {
        table.shop_table {
            border: none;
            tr {
                th, td {
                    padding: 0.5rem;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        text-align: right;
                    }
                }
            }
        }
        .quantity {
            display: inline-block;
            input {
                padding: $input-btn-padding-y-sm 0 $input-btn-padding-y-sm $input-btn-padding-x-sm;
                border-radius: 0;
                border: 1px solid $gray-300;
                &::-webkit-outer-spin-button, 
                &::-webkit-inner-spin-button { margin-left: 1rem; } 
            }
        }
        button[name=update_cart] {
            display: inline-block;
            padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
            background: $gray-900;
            color: $white;
            border: 0;
            &::after {
                font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f067";
                font-size: 1rem;
            }
        }
        a.remove {
            @extend %remove-item-button;
        }
    }
    &__sidebar {
        .cart_totals {
            padding: 1.5rem;
            background: $gray-100;
            h2 {
                font-size: $font-md;
            }
            table.shop_table {
                border: none;
                tr {
                    th, td {
                        padding: 0.5rem;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                            text-align: right;
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                padding: 0;
                .button {
                    @extend %wc-button;
                    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

.woocommerce {
    .return-to-shop {
        max-width: 1140px !important;
        margin: 0 auto 3rem !important;
    }
}