.wc-archive {
    padding: $section-padding;
    &__tools {
        margin-bottom: 1rem;
        display: block;
        .woocommerce-ordering {
            margin-bottom: 0;
            width: 100%;
            .orderby {
                padding: $input-btn-padding-y $input-btn-padding-x;
                border-radius: 0;
                border: 1px solid $gray-300;
                margin-bottom: 1rem;
                width: 100%;
            }
        }
        .woocommerce-result-count {
            margin-bottom: 1rem;
        }
    }
    .searchandfilter {
        width: 100%;
        ul {
            padding-left: 0;
            list-style: none;
            li {
                padding: 0;
                width: 100%;
                margin-bottom: 1rem;
                input, select {
                    @extend %form-control;
                    width: 100%;
                }
            }
        }
    }
    &__content {
        &-items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, minmax(200px, 1fr));
            }
            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(3, minmax(200px, 1fr));
            }
            grid-gap: 2rem;
            .product {
                width: 100%;
            }
            .wc-tease-product {
                img {
                    width: 100% !important;
                }
            }
        }
        &-filter {
            .aws-search-form {
                .aws-search-field {
                    font-size: $font-md;
                    @extend %form-control;
                    height: auto;
                }
            }
        }
    }
    &__title {
        @extend %merit;
        @extend %skew-title;
        padding: 1rem 2rem;
        color: $white;
        background: $secondary;
        display: inline-block;
        margin-bottom: 2rem;
        &-category {
            font-size: $font-xl;
        }
    }
}

.woof_sid_auto_shortcode.woof {
    padding: 0;
    border: none;
    .woof_list.woof_list_checkbox {
        padding: 0;
        width: 100%;
        li {
            display: flex;
            label {
                padding: 0;
            }
            .icheckbox_flat-flat {
                margin-top: 5px;
            }
        }
    }
}
.woof_sid_auto_shortcode .woof_container {
    width: 100%;
}

.woof_sid_auto_shortcode .woof_container_inner {
    padding-left: 0;
}

.woof_text_search_container {
    margin-bottom: 1.5rem;
    input[type='search'] {
        @extend %form-control;
        padding: 0.75rem 1.25rem !important;
        font-size: $font-md !important;
        &::-webkit-search-cancel-button {
            /* Remove default */
            //-webkit-appearance: none;
            /*Your new styles */
            &::after {}
            right: 2rem;
            margin-right: 1rem;
          }
    }
    .woof_text_search_go {
        background: none;
        width: 2rem;
        height: 100%;
        top: 0;
        right: 0;
        &::after {
            content: '';
            position: absolute;
            font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f002";
            top: 12px;
        }
    }
}


.woof_container_product_cat, .woof_checkbox_sales_container {
    margin-bottom: 1.5rem;
}

.woof_sid {
    margin-top: 1.5rem;
}

.woof_products_top_panel {
  margin: 0 0 1rem;
  .woof_products_top_panel_ul {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
          flex-direction: column;
          align-items: start;
      }
      a {
          position: relative;
          .woof_remove_ppi {
              background: none;
              padding-right: 1.5rem !important;
              &::after {
                  font-family: "Font Awesome 5 Pro"; font-weight: 400; content: "\f057";
                  position: absolute;
                  right: 0;
              }
          }
      }
  }
  .woof_reset_button_2 {
      @extend %wc-button;
      padding: 0.25rem 0.75rem !important;
      border: 1px solid $gray-500;
      color: $black;
      font-size: $font-md !important;
      background-color: transparent !important;
      &:hover {
          background-color: $gray-300 !important;
          color: $black;
      }
  }
}

.woocommerce ul.products li.product .price {
  color: $gray-900;
}

#woof_svg_load_container img {
  filter: invert(43%) sepia(99%) saturate(5609%) hue-rotate(195deg) brightness(96%) contrast(101%);
}