.wc-block-grid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    display: grid;
    .wc-block-grid__products {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        column-gap: 1.5rem;
        row-gap: 1.5rem;    
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr 1fr;
        }

    }
    .wc-block-grid__product {
        flex: none !important;
        max-width: 100% !important;
        .wc-block-grid__product-link {
            text-decoration: none;
        }
        .wc-block-grid__product-title {
            font-size: $font-md;
            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }
        .wc-block-grid__product-price {
            font-size: $font-md;
            @include media-breakpoint-down(sm) {
                font-size: 1rem;
            }
        }
    }
    .wc-block-grid__product-add-to-cart {
        display: flex;
        flex-direction: column;
        .add_to_cart_button {
            background-color: $primary !important;
            color: $white !important;
            border-radius: 0 !important;
            font-size: $font-md !important;
            &:hover {
                background-color: darken($primary, 5%) !important;
            }
            @include media-breakpoint-down(sm) {
                font-size: 1rem !important;
            }
        }
    }
}