{% extends "base.twig" %}

{% block content %}
	<div class="partners bordered-cols">
		<div class="container-xl">
			<div class="section-title">
				<h2 class="section-title__content">Brand Partners</h2>
			</div>
			{% include "partial/partners.twig" %}
		</div>
	</div>
{% endblock %}
