{% extends "base.twig" %}

{% block content %}
	<div class="featured-deal">
		<div class="container-xl">
			<div class="row">
				<div class="col-md-8 mb-5 mb-md-0 text-center text-md-start">
					<p class="featured-deal__subtitle text-primary">Featured deal</p>
					<h2 class="featured-deal__title">Harry’s Holsters</h2>
					<p class="featured-deal__promotion">Use Code <span class="text-secondary">HANK10</span> for
						10% Off
					</p>
					<button type="button" class="btn btn-white btn-lg text-secondary">Let's go!</button>
				</div>
				<div class="col-md-4">
					<div class="featured-deal__see-all">
						<div>
							<p class="featured-deal__see-all-title">View all of Lola’s deals</p>
							<button type="button" class="btn btn-outline-white">View all</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}