{% extends "base.twig" %}

{% block content %}
	<div class="deals bordered-cols">
		<div class="container-xl">
			<div class="section-title">
				<h2 class="section-title__content">Featured Deals</h2>
			</div>
			{% include "partial/deals.twig" %}
		</div>
	</div>
{% endblock %}
