{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
	<article>
		<section class="featured-deal">
			Featured deal detail here
		</section>
		<section class="article-content"></section>
	</article>
</div><!-- /content-wrapper -->


{% endblock %}